.bannerHeading
{font-size: 40px;
text-align: center;
font-family: "Comic Sans MS";}

#banner1
{border-radius: 50%; 
    width: 500px;}

#banner1:hover
{border-width: 5px;
border-style: outset;
border-color: purple;}
